*{
	border-color: #222222;
}

.right_backgroubd{
	background-color: #808080	;
}
body{
	background: #778899		;
}
.left{
	background-color: #808080	;
}
.otstup-1{
	color:#00FFFF;
}

.information{
	color: #ffb400;
}

.aributs-right{
	color: #00FFFF;
}
.text-green{
	color: #7eb942;
}
.Smool_text{
	color:#00FFFF;
}
.information-2{
	color: #00FFFF;
}

.Endl{
	color: #00FFFF;
}

.ridht-text2{
	color: #00FFFF;

}
.ello{
	color:#FFB400;
}


.button_button1{
	background-color: #FFB400;
}
.button_button11{
	background-color: #FFB400;
}
.flex {
	background: #808080	;
}
.flex_4 {
	background: #808080	;
}
.text-color_2{
	color: #00FFFF ;
}	

.text-color{
	color: #00FFFF ;
}
.ello_2{
	color:#FFB400;
}
.ridht-text3{
	color: #00FFFF ;
}
.color_bottom{
	color: #00FFFF ;
}

.flex_1 {
	background: #808080	;
}
.flex_14 {
	background: #808080	;
}
.flex_2 {
	background: #808080;
}
.flex_3 {
	background: #808080;
}

.information-question2{
	background-color: #FFB400 ;
}

.information-question3{
	color: #7EB942;
}

.text-color_3{
	color: #00FFFF ;
}	
.text-color_4{
	color: #00FFFF ;
}	

.ello3{
	background-color: #FFB400;
}
.hr_margin{
	border: 0.5px solid #222222;

}
.margin25{
	border: 1.5px solid #222222;
}

.skrol{
	background: #808080;
}

.left_text{
	background: #222222;
}

.iconca div {
	background-color: #FFB400;
}

.gg{
	color: #00FFFF;
}

.margin13{
	color: #00FFFF;
}
.margin14{
	color: #00FFFF;
}

.panel{
	background-color: #808080;
}
.panel2{
	color: #00FFFF;
}
.ello4{
	background-color: #FFB400;
}
.margin26{
	color: #00FFFF;
}
.hr_margin2{
	border: 0.5px solid #222222;
}

.wan1{
	background-color: #222222;
}
.wan2{
	background-color: #222222;
}
.wan3{
	background-color: #222222;
}
.How{
	color: white;
}
.How2{
	color: #00FFFF;
}
.How3{
	color:#FFB400;
}
.email{
	background-color: #808080;
}
.Country{
	background-color: #808080;
}
.Your_1{
	color: #00FFFF ;
}
.gray{
	background: #222222;
}
.gray2{
	background: #222222;
}
.button_button12{
	background-color: #FFB400;
}

.Cou1{
	color: #00FFFF ;
}

.iconca3 div {
	background-color: #FFB400;
}
.right_2{
	background-color: #808080;
}
.white5{
	background-color: #222222;
}
.iconca5 div {
	background-color:#F0F0F6;
}
.change-theme[data-theme="dark"]{
	display: none;
}
.change-theme[data-theme="light"]{
	display: block;
}
